# Dependências
node_modules/

# Banco de dados local (não enviar o DB do usuário)
embeddings.json

*.mp3
*.wav

# Logs e arquivos do SO
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Build do Electron (caso você gere executáveis depois)
dist/
build/
out/
